body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
}

.header_clase img{
	height: 250px;
	width: 1000px
}

.contenedor{
	width: 1000px;
	margin: auto;
}

.boton{
	display: flex;
	align-items: center;
}

.input_boton{
	height: 30px;
}

.label{
	margin-left: 60px;
}