body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
}

.header_clase img{
	height: 250px;
	width: 1000px
}

.contenedor{
	width: 1000px;
	margin: auto;
}