body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(78, 167, 226);
}

.contenedor{
	width: 1000px;
	margin: auto;
}

.name_header{
	width: 1000px;
    height: 150px;
}

.name_header img{
	margin: 10;
	width: inherit;
	height: inherit;
	padding: 0;
	text-align: center;
}

.nav1{
    border: 2px solid white;
	height: 20px;
	text-align: center;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
    
}

.nav1 a{
    padding: 0 50px;
    align-items: center;
}

.texto{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    height: 600px;
}

.nav_lista{
    border: 2px solid white;
    width: 150px;
    height: 550px;
    padding: 10px;
    
}

.articulos{
    width: 450px;
    
}

.articulo_1 {
    border: 2px solid white;
    padding: 10px;
    height: 230px;
}

.articulo_2 {
    border: 2px solid white;
    padding: 10px;
    height: 230px;
    margin-top: 55px;
}

.aside_texto{
    border: 2px solid white;
    padding: 10px;   
    width: 180px;
    height: 550px;
}

.footer{
    border: 2px solid white;
    padding: 10px;
    margin: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}