html {
    font-size: 18px; 
    font-family: placeholder;
    background-color: black;
    color: cornsilk;
}

body{
     width: 800px;
     margin: auto;
     border: 10px double white;
    padding: 0 20px 20px 20px;
}

img {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 400px;
  }

h1 {
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 3px 1px blue;
    
  }
  
  p, li {
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
  }